$menu1: #424058;
$menu2: #a7cfe6;
$menu3: #abdd98;
$menu4: #92264d;
$myColor: #1234d5;
$myg: grayscale(#1234d5);
$myc: complement(#1234d5);
$myi: invert(#1234d5);

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  // font-family: 'Roboto', sans-serif;
}
.bigImage_container {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  width: 80%;
  height: 90%;
  scroll-behavior: auto;
  background-color: blanchedalmond;
  background-image: url('./bg-paper-texture.jpg');
  background-size: cover;
  color: rgb(51, 2, 131);
  font-size: 1em;
  box-shadow: 5px 5px 10 10 grey;
  padding: 30px 50px 50px;

  .head {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;

    .h2 {
      font-size: 2em;
      font-weight: 500;
    }

    .button_container {
      margin-left: auto;
      button {
        margin-left: 5px;
      }
    }
  }

  .inside_image {
    display: flex;
    width: 100%;
    margin-bottom: 1.5em;

    img {
      max-width: 100%;
      height: auto;
      flex-shrink: 0;
      display: inline;
      margin-right: 20px;
      box-shadow: 2px 2px 3px 0px rgb(51, 2, 131);
    }
    .description {
      text-indent: 20px;
      flex-shrink: 1;
      align-self: center;
    }
  }

  .dimensions {
    display: flex;
  }

  span {
    font-weight: 600;
    font-size: 16px;
    padding-left: 15px;
  }
  .unknown {
    font-style: italic;
  }

  .lastupdate {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-size: 14px;
    text-align: right;
    font-style: italic;
  }
}

.registration {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  min-width: 350px;
  min-height: auto;
  padding-bottom: 60px;
  background-color: aliceblue;
  border-radius: 20px;

  .head {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .mui_icon {
      color: $menu4;
      margin-left: auto;
    }
  }
  h3 {
    color: #92264d;
    font-size: 1.4em;

    text-align: center;
    width: 90%;
  }

  button {
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $menu4;
    color: invert($menu4);
    font-size: 1em;
    font-weight: 400;

    &:hover {
      background-color: complement($menu3);
    }
  }

  input,
  textarea {
    display: block;
    min-width: 300px;
    padding: 8px;
    font-size: 20px;
    margin: 5px auto 25px;
    border-radius: 20px;
    border: 2px solid rgba(146, 38, 77, 0.4);

    &:onchange {
      border: 1px solid invert(rgba(146, 38, 77, 0.4));
    }
  }

  textarea {
    padding-top: 5px;
    padding-left: 10px;
    min-height: calc(2em + 50px);
  }
  .MuiBox-root {
    margin-right: 80px;
  }
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $menu3;
  color: invert($menu3);
  font-size: 1em;
  font-weight: 400;
  padding: 2px;

  &:hover {
    background-color: complement($menu3);
  }
  .save {
    background-color: green;
    color: invert(green);
  }
  .close {
    background-color: invert($menu3);
    color: $menu3;
  }
  .delete {
    background-color: red;
    color: black;
  }
}
