* {
  margin: 0;
  padding: 0;
}

.bigImage_container {
  position: fixed;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: black;
  font-size: 1em;
  padding: 10px;
  overflow-y: auto;
}

@media (min-width: 1000px) {
  .bigImage_container {
    top: 5%;
    width: 80%;
    max-height: 90%;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    -webkit-box-shadow: 5px 5px 10px grey;
            box-shadow: 5px 5px 10px grey;
    padding: 30px 50px 20px;
  }
}

.bigImage_container .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

@media (min-width: 1000px) {
  .bigImage_container .head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.bigImage_container .coins .h2 {
  display: block;
}

.bigImage_container .h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  font-weight: 300;
}

@media (min-width: 1000px) {
  .bigImage_container .h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.bigImage_container .h2 .bigImage-noArtist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bigImage_container .h2 .bigImage-noArtist .close-icon {
  margin-left: auto;
}

.bigImage_container .h2 .bigImage-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-right: 8px;
}

.bigImage_container .h2 .bigImage-artist {
  font-weight: 600;
}

.bigImage_container .right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  margin-left: 15px;
}

.bigImage_container .inside_image {
  max-height: 500px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin-bottom: 10px;
}

.bigImage_container .inside_image img {
  max-width: 100%;
  min-width: auto;
  max-height: 496px;
  border: 3px solid black;
}

@media (min-width: 1000px) {
  .bigImage_container .inside_image {
    position: static;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    min-height: auto;
    max-height: 500px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 20px;
    -webkit-box-shadow: 2px 2px 3px 0px #726f75;
            box-shadow: 2px 2px 3px 0px #726f75;
  }
}

.bigImage_container .image-not-available {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  overflow: hidden;
  padding: 30px;
}

.bigImage_container .image-not-available:before {
  content: "picture is not available";
  background-size: cover;
}

.bigImage_container .details {
  margin-top: 20px;
}

.bigImage_container .details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 4px 0px;
}

.bigImage_container .details div div:first-child {
  border: 0;
}

.bigImage_container .details div div:last-child {
  border: 0;
  text-align: right;
}

.bigImage_container .details .unknown .data {
  font-style: italic;
}

.bigImage_container .description {
  margin: 5px 15px 10px;
  text-align: justify;
}

.bigImage_container .input_comment {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 250px;
  margin: 30px auto;
  min-width: 300px;
  padding: 30px 20px 60px;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 15px gray;
          box-shadow: 10px 10px 15px gray;
  text-align: center;
}

.bigImage_container .input_comment .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border: 2px solid black;
}

.bigImage_container .input_comment .head .mui_icon {
  color: black;
  margin-left: auto;
}

.bigImage_container .input_comment h3 {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  width: 90%;
}

.bigImage_container .input_comment .tag_container {
  width: 80%;
  margin-bottom: 25px;
  margin-top: 5px;
}

.bigImage_container .input_comment .tag_container .input_tag {
  width: 100%;
  font-size: 1.1em;
  margin: 5px auto 25px;
  border-bottom: 2px solid black;
  text-indent: 10px;
  height: calc(1em + 30px);
  margin: 0;
}

.bigImage_container .input_comment .MuiBox-root,
.bigImage_container .input_comment .css-x5eoc3 {
  margin-bottom: 20px;
}

.save,
.save_btn {
  margin: 5px;
  width: 90px;
  height: 35px;
  border: 1px black solid;
  background-color: black;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.save:hover,
.save_btn {
  color: #fff;
  -webkit-animation: text-shadow 1.5s ease-in-out infinite;
          animation: text-shadow 1.5s ease-in-out infinite;
}

@-webkit-keyframes text-shadow {
  0% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }
  20% {
    text-shadow: 0 0.125em 0 #89af24, 0 0.25em 0 #a7cfe6, 0 -0.125em 0 #d65035, 0 -0.25em 0 #f2d748;
  }
  40% {
    text-shadow: 0 -0.0625em 0 #89af24, 0 -0.125em 0 #a7cfe6, 0 0.0625em 0 #d65035, 0 0.125em 0 #f2d748;
  }
  60% {
    text-shadow: 0 0.03125em 0 #89af24, 0 0.0625em 0 #a7cfe6, 0 -0.03125em 0 #d65035, 0 -0.0625em 0 #f2d748;
  }
  80% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }
}

@keyframes text-shadow {
  0% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }
  20% {
    text-shadow: 0 0.125em 0 #89af24, 0 0.25em 0 #a7cfe6, 0 -0.125em 0 #d65035, 0 -0.25em 0 #f2d748;
  }
  40% {
    text-shadow: 0 -0.0625em 0 #89af24, 0 -0.125em 0 #a7cfe6, 0 0.0625em 0 #d65035, 0 0.125em 0 #f2d748;
  }
  60% {
    text-shadow: 0 0.03125em 0 #89af24, 0 0.0625em 0 #a7cfe6, 0 -0.03125em 0 #d65035, 0 -0.0625em 0 #f2d748;
  }
  80% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }
}

/*
.save_btn,
.save_btn::after {
  margin: 5px;
  width: 90px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  background: linear-gradient(45deg, transparent 5%, black 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  outline: transparent;
  position: relative;
}

.save_btn::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "SAVE";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.save_btn:hover {
  box-shadow: 3px 0px 0px #00e6f6;
}
.save_btn:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
*/
/*# sourceMappingURL=bigImage.css.map */