$menu1: #424058;
$menu2: #a7cfe6;
$menu3: #abdd98;
$menu4: #92264d;
$myColor: #1234d5;
$myg: grayscale(#1234d5);
$myc: complement(#1234d5);
$myi: invert(#1234d5);

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  // font-family: 'Roboto', sans-serif;
}
.bigImage_container {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //   grid-template-columns: 1fr 1fr 1fr;
  //   grid-row: 2.2em auto auto;
  //   grid-gap: 15px;
  overflow-y: auto;
  width: 80%;
  height: 90%;
  scroll-behavior: auto;
  background-color: blanchedalmond;
  //   background-image: url('./pictures/bg-paper-texture.jpg');
  color: rgb(51, 2, 131);
  font-size: 1em;
  box-shadow: 5px 5px 10 10 grey;
  padding: 30px 50px 50px;

  .head {
    display: flex;
    justify-content: space-between;

    .h2 {
      font-size: 2em;
      font-weight: 500;
      width: 85%;
      margin-bottom: 10px;
    }

    button {
      margin-left: 10px;
    }
  }

  .inside_image {
    display: flex;
    width: 100%;
    margin-bottom: 30px;

    img {
      width: 200px;
      height: auto;
      flex-shrink: 0;
      display: inline;
      margin-right: 20px;
      box-shadow: 2px 2px 3px 0px rgb(51, 2, 131);
    }
    .description {
      text-indent: 20px;
      flex-shrink: 1;
    }
  }

  .dimensions {
    display: flex;
  }

  span {
    font-weight: 600;
    font-size: 16px;
    padding-left: 15px;
  }
  .unknown {
    font-style: italic;
  }

  .lastupdate {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    bottom: 15px;
    right: 30px;
    grid-column: 3;
    grid-row: 3;
    font-size: 14px;
    text-align: right;
    font-style: italic;
    .save_btn {
      align-self: center;
    }
  }
}

.registration {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  min-width: 350px;
  min-height: auto;
  padding-bottom: 70px;
  background-color: aliceblue;
  border-radius: 20px;

  .head {
    display: flex;

    .mui_icon {
      color: $menu4;
      margin-left: auto;
      justify-self: center;
    }
  }
  .h2 {
    color: #92264d;
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  button {
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $menu3;
    color: invert($menu3);
    font-size: 1em;
    font-weight: 400;

    &:hover {
      background-color: complement($menu3);
    }
  }

  hr {
    border-top: 1px solid #cf4578;
  }
  input,
  textarea {
    display: block;
    min-width: 300px;
    padding: 8px;
    font-size: 20px;
    margin: 5px auto 25px;
    border-radius: 20px;
    border: 2px solid rgba(146, 38, 77, 0.4);

    &:change {
      border: 1px solid invert(rgba(146, 38, 77, 0.4));
    }
  }

  textarea {
    padding-top: 5px;
    padding-left: 10px;
    min-height: calc(2em + 50px);
  }
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $menu3;
  color: invert($menu3);
  font-size: 1em;
  font-weight: 400;
  padding: 2px;

  &:hover {
    background-color: complement($menu3);
  }
}
