.color-test {
  position: relative;
  width: 250px;
  height: 380px;
  margin: 20px 15px 5px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(146, 38, 77, 0.2);

  .button_container {
    align-self: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px;
    button {
      margin-left: 5px;
    }
  }
}
.color-image-no-image {
  min-width: 200px;
  min-height: 200px;
  text-align: center;
  padding-top: 50px;
  border: 2px dotted rgba(146, 38, 77, 0.5);
  cursor: no-drop;
}
.color-image,
.color-image img {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 1em;
}

.artist {
  text-align: center;
  font-weight: 700;
}
