/* $menu1: #424058;
$menu2: #a7cfe6;
$menu3: #abdd98;
$menu4: #92264d;

select select {
  position: relative;
  display: none;
  border-radius: '50%';
  height: '60px';
} */

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.menu-bar {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    outline: none;
    text-decoration: none;
    outline: none;
    font-family: inherit;
    box-sizing: border-box;
  }
  ol,
  ul,
  li {
    list-style: none;
    display: block;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  a img {
    border: none;
  }

  button,
  a {
    cursor: pointer;
    color: inherit;
  }

  textarea {
    resize: none;
  }

  button,
  input,
  textarea,
  select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0;
  }

  font-family: "Oswald", sans-serif;
  color: #a1a1a1;
  display: flex;
  @media screen and (max-width: 850px) {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .menu-left,
  .menu-right {
    width: 37%;
    display: flex;
  }

  .menu-left {
    padding-left: 7%;
    justify-content: left;
  }
  .menu-right {
    padding-right: 7%;
    justify-content: right;
  }
  .menu-middle {
    width: 26%;
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 205px;
    height: 55px;
    margin-top: 15px;
    background-image: url("../../public/pictures/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (max-width: 850px) {
      position: fixed;
      left: 15px;
      top: 0;
      width: 50%;
    }
  }

  .menu-item {
    margin: 25px 30px;
    display: inline-block;
    font-weight: 500;
  }

  .menu-item:hover {
    color: black;
  }

  .menu-item:hover {
    color: black;
    animation: text-shadow 1.5s ease-in-out infinite;
  }

  .item-1 {
    @media screen and (max-width: 850px) {
      position: fixed;
      right: 40px;
      top: -20px;
    }
  }

  .item-2 {
    @media screen and (max-width: 850px) {
      position: fixed;
      right: 40px;
      top: 10px;
    }
  }

  .item-3 {
    @media screen and (max-width: 850px) {
      position: fixed;
      right: 40px;
      top: 40px;
    }
  }
}

.selected {
  color: black;
}

.nav-border {
  width: 98%;
  margin-left: 1%;
  height: 2px;
  margin-bottom: 25px;
  background: #a1a1a1;
}

@keyframes text-shadow {
  0% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }

  20% {
    text-shadow: 0 0.125em 0 #89af24, 0 0.25em 0 #a7cfe6, 0 -0.125em 0 #d65035,
      0 -0.25em 0 #f2d748;
  }

  40% {
    text-shadow: 0 -0.0625em 0 #89af24, 0 -0.125em 0 #a7cfe6,
      0 0.0625em 0 #d65035, 0 0.125em 0 #f2d748;
  }

  60% {
    text-shadow: 0 0.03125em 0 #89af24, 0 0.0625em 0 #a7cfe6,
      0 -0.03125em 0 #d65035, 0 -0.0625em 0 #f2d748;
  }

  80% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }
}
