$menu1: #424058;
$menu2: #a7cfe6;
$menu3: #abdd98;
$menu4: #92264d;
$myColor: #1234d5;
$myg: grayscale(#1234d5);
$myc: complement(#1234d5);
$myi: invert(#1234d5);

$spot1: (
  green1: #006e5e,
  green2: #288564,
  green3: #649c6d,
  green4: #94b27d,
  green5: #c2c893,
  light: #ecdeaf,
  orange: #f5934e,
  braun_dark: #3c350e,
  del: #cc3636,
  del_hover: #6e1717,
);

$spot2: (
  l-braun: #93812a,
  d-braun: #5d5000,
  l-purple: #bea5aa,
  d-purple: #887176,
  d-pink: #92264d,
);

@function color($color-name) {
  @return map-get($spot1, $color-name);
} ;
