@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  background: #eeeeee;
}

.search-bar {
  width: 92%;
  margin-left: 4%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.search-border {
  width: 100%;
  height: 1px;
  background: #a1a1a1;
}

.search-bar input {
  text-indent: 5px;
}

.search-input {
  margin: 20px 35px 12px 10px;
  cursor: pointer;
}

input[type="text"] {
  border: 1px solid #a1a1a1;
  border-radius: 4px;
}
input[type="checkbox"] {
  margin-right: 3px;
}

.classification-bar-container,
.tag-bar-container {
  width: 100%;
  height: 22px;
  position: relative;
  overflow: hidden;
}

.classification-bar,
.tag-bar,
.classifications-bar,
.cultures-bar {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  color: #a1a1a1;
  background: rgb(244, 244, 244);
  font-size: 16px;
}

.classification-bar {
  animation: textUp 0.5s forwards;
}

.classifications-bar,
.cultures-bar {
  margin-top: 2px;
  background: #eeeeee;
}

.bar-hidden {
  position: absolute;
  top: 22px;
  animation: textDown 0.5s forwards;
  overflow: hidden;
}

@keyframes textDown {
  0% {
    transform: translate3d(0, -22px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes textUp {
  0% {
    transform: translate3d(0, 22px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.classification-bar div,
.tag,
.cultures,
.classifications {
  display: inline;
  margin-right: 15px;
  cursor: pointer;
}

.classifications,
.cultures {
  animation: showup 0.5s;
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.category-clicked,
.tag-clicked,
.cultures-clicked,
.classifications-clicked {
  background: #7e7e7e;
  color: rgb(244, 244, 244);
  animation: text-shadow 0.5s;
}
@media screen and (max-width: 650px) {
  .search-bar {
    flex-direction: column;
  }
  .search-input {
    margin: 5px;
  }
  .search-border:nth-child(1) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 555px) {
  .classification-bar-container {
    height: 44px;
  }
  .bar-hidden {
    top: 44px;
  }

  @keyframes textDown {
    0% {
      transform: translate3d(0, -40px, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes textUp {
    0% {
      transform: translate3d(0, 40px, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
}
@media screen and (max-width: 300px) {
  .classification-bar-container {
    height: 66px;
  }
  .bar-hidden {
    top: 66px;
  }

  @keyframes textDown {
    0% {
      transform: translate3d(0, -60px, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes textUp {
    0% {
      transform: translate3d(0, 60px, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
}

.set-filter-container {
  padding-left: 17px;
  width: 100%;
  display: flex;
}
.set-filter {
  width: 100px;
  height: 30px;
  margin: 10px 0;
  color: #7e7e7e;
  text-align: center;
  cursor: pointer;
}

.clicked-set-filter {
  background: #7e7e7e;
  color: #eeeeee;
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

.tag-bar-container {
  height: auto;
}

.tag-bar {
  width: 100%;
  margin-top: 19px;
  margin-bottom: 30px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  color: #a1a1a1;
  background: #eeeeee;
  font-size: 18px;
}

.tag {
  display: inline;
  margin-right: 25px;
  transform: skew(-15deg);
  animation: showup 0.5s;
}

.tag-clicked {
  animation: text-shadow 0.5s;
}

/* IMAGE CARDS */

.page-content {
  display: flex;
  flex-direction: column;
}

.keywords-category {
  font-size: 16px;
  color: black;
}
.keywords-input {
  height: 24px;
  animation: showup 0.5s;
}
.keywords-category-0 {
  margin: 0 20px 0;
  display: inline;
}
.keywords-category-1 {
  margin-right: 10px;
}
.keywords-category-2 {
  margin-right: 52px;
}

/* IMAGE CARDS */

.page-content {
  display: flex;
  flex-direction: column;
}

.data-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}
.color-test {
  width: 250px;
  height: 90%;
  min-height: 380px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 10px 10px;
  background-color: #fff;
  text-align: center;
}

.color-test img {
  max-width: 200px;
  max-height: 200px;
}
.color-image {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.name-div {
  margin-top: 5px;
  border-top: 1px black solid;
  text-transform: uppercase;
  font-weight: bold;
}
.title-div {
  font-size: 14px;
}

.already-saved {
  padding: 7px 10px;
  margin: 10px 5px 5px 5px;
  background-color: #c7c7c7;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
}

/* SAVE AND REMOVE BUTTON OPTION 1 */

.save,
.save_btn {
  margin: 5px;
  width: 90px;
  height: 35px;
  border: 1px black solid;
  background-color: black;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.save:hover,
.save_btn:hover {
  color: #fff;
  animation: text-shadow 1.5s ease-in-out infinite;
}

@keyframes text-shadow {
  0% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }

  20% {
    text-shadow: 0 0.125em 0 #89af24, 0 0.25em 0 #a7cfe6, 0 -0.125em 0 #d65035,
      0 -0.25em 0 #f2d748;
  }

  40% {
    text-shadow: 0 -0.0625em 0 #89af24, 0 -0.125em 0 #a7cfe6,
      0 0.0625em 0 #d65035, 0 0.125em 0 #f2d748;
  }

  60% {
    text-shadow: 0 0.03125em 0 #89af24, 0 0.0625em 0 #a7cfe6,
      0 -0.03125em 0 #d65035, 0 -0.0625em 0 #f2d748;
  }

  80% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }
}

/* SAVE AND REMOVE BUTTON OPTION 2 */
/*
.save_btn,
.save_btn::after {
  margin: 5px;
  width: 90px;
  height: 35px;
  font-size: 15px;
  font-weight: bold;
  background: linear-gradient(45deg, transparent 5%, black 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  outline: transparent;
  position: relative;
}

.save_btn::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "SAVE";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.save_btn:hover {
  box-shadow: 3px 0px 0px #00e6f6;
}
.save_btn:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
*/

/* LOGIN */

.login-dot {
  width: 500px;
  height: 280px;
  opacity: 0.7;
  position: relative;

  background: transparent;
  border: 5px solid black;

  animation: 6s shrink;
}

.login-dot:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: shockwave 1.5s 0.6s ease-out infinite;
}
.login-dot:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: shockwave 1.5s 0.2s ease-out infinite;
  z-index: -1;
  /*  animation: 1.5s cresent linear infinite alternate; */
}

.login-dot p:nth-child(1) {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 27%;
  left: 8%;
  background-image: url("../public/pictures/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.login-dot p:nth-child(2) {
  font-family: "Noto Sans", sans-serif;
  color: black;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 60%;
  left: 43%;
  animation: text-shadow 1.5s ease-in-out infinite;
}

.hirst-container-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hirst-container {
  width: 540px;
  height: 650px;
  animation: 1s pulse ease;
}

.hirst-dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 20px;
  /*  animation: 0.6s pop-in ease infinite alternate; */
}

.hirst-container div:nth-child(1),
.hirst-container div:nth-child(7),
.hirst-container div:nth-child(13),
.hirst-container div:nth-child(19),
.hirst-container div:nth-child(25),
.hirst-container div:nth-child(31),
.hirst-container div:nth-child(37) {
  animation-delay: 0.05s;
}
.hirst-container div:nth-child(2),
.hirst-container div:nth-child(8),
.hirst-container div:nth-child(14),
.hirst-container div:nth-child(20),
.hirst-container div:nth-child(26),
.hirst-container div:nth-child(32),
.hirst-container div:nth-child(38) {
  animation-delay: 0.1s;
}
.hirst-container div:nth-child(3),
.hirst-container div:nth-child(9),
.hirst-container div:nth-child(15),
.hirst-container div:nth-child(21),
.hirst-container div:nth-child(27),
.hirst-container div:nth-child(33),
.hirst-container div:nth-child(39) {
  animation-delay: 0.15s;
}
.hirst-container div:nth-child(4),
.hirst-container div:nth-child(10),
.hirst-container div:nth-child(16),
.hirst-container div:nth-child(22),
.hirst-container div:nth-child(28),
.hirst-container div:nth-child(34),
.hirst-container div:nth-child(40) {
  animation-delay: 0.2s;
}
.hirst-container div:nth-child(5),
.hirst-container div:nth-child(11),
.hirst-container div:nth-child(17),
.hirst-container div:nth-child(23),
.hirst-container div:nth-child(29),
.hirst-container div:nth-child(35),
.hirst-container div:nth-child(41) {
  animation-delay: 0.25s;
}
.hirst-container div:nth-child(6),
.hirst-container div:nth-child(12),
.hirst-container div:nth-child(18),
.hirst-container div:nth-child(24),
.hirst-container div:nth-child(30),
.hirst-container div:nth-child(36),
.hirst-container div:nth-child(42) {
  animation-delay: 0.3s;
}

@keyframes pop-in {
  0% {
    transform: scale(1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  94% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.01);
  }
}

@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(0, 0, 0, 0.4);
  }
  95% {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0), inset 0 0 30px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes cresent {
  0% {
    transform: scale(0.9);
    box-shadow: none;
  }
  50% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    background-color: #5a83db;
  }
  100% {
    transform: scale(0.9);
    box-shadow: none;
  }
}

@keyframes text-shadow {
  0% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }

  20% {
    text-shadow: 0 0.125em 0 #89af24, 0 0.25em 0 #a7cfe6, 0 -0.125em 0 #d65035,
      0 -0.25em 0 #f2d748;
  }

  40% {
    text-shadow: 0 -0.0625em 0 #89af24, 0 -0.125em 0 #a7cfe6,
      0 0.0625em 0 #d65035, 0 0.125em 0 #f2d748;
  }

  60% {
    text-shadow: 0 0.03125em 0 #89af24, 0 0.0625em 0 #a7cfe6,
      0 -0.03125em 0 #d65035, 0 -0.0625em 0 #f2d748;
  }

  80% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }
}

/* REGISTRATION */

.regstration {
  width: 400px;
  padding: 20px;
  margin: 30px auto;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(133, 133, 133, 0.6);
  font-family: "Oswald";
}
.regstration h1 {
  font-family: "Oswald";
  color: #343a40;
  font-size: 40px;
}
.regstration input {
  display: block;
  width: 300px;
  padding: 8px;
  font-size: 20px;
  margin: 30px auto;
  border: none;
  border-bottom: 2px solid rgba(183, 185, 185, 0.4);
}
.regstration input::placeholder {
  color: #a1a1a1;
  font-family: "Oswald";
}
.regstration input:focus {
  outline: none;
  border-bottom: 2px solid rgba(22, 22, 22, 0.4);
}

.regstration input:focus::placeholder {
  color: transparent;
}
.regstration button {
  font-family: "Oswald";
  margin: 5px;
  width: 170px;
  height: 40px;
  border: 1px black solid;
  background-color: rgb(42, 42, 42);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.regstration button:hover {
  color: #fff;
  animation: text-shadow 1.5s ease-in-out infinite;
}

@keyframes text-shadow {
  0% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }

  20% {
    text-shadow: 0 0.125em 0 #89af24, 0 0.25em 0 #a7cfe6, 0 -0.125em 0 #d65035,
      0 -0.25em 0 #f2d748;
  }

  40% {
    text-shadow: 0 -0.0625em 0 #89af24, 0 -0.125em 0 #a7cfe6,
      0 0.0625em 0 #d65035, 0 0.125em 0 #f2d748;
  }

  60% {
    text-shadow: 0 0.03125em 0 #89af24, 0 0.0625em 0 #a7cfe6,
      0 -0.03125em 0 #d65035, 0 -0.0625em 0 #f2d748;
  }

  80% {
    text-shadow: 0 0 0 #89af24, 0 0 0 #a7cfe6, 0 0 0 #d65035, 0 0 0 #f2d748;
  }
}

.regstration hr {
  border-top: 1px solid #343a40;
}
.error {
  font-family: "Oswald";
  padding: 1px 5px 5px;
  background-color: #8a3547;
  border-radius: 2px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 1px;
  animation-name: error;
  animation-duration: 1.3s;
  animation-iteration-count: 100000;
}

@keyframes error {
  0% {
    background-color: rgb(138, 53, 71, 1);
  }
  50% {
    background-color: rgb(161, 53, 76);
    box-shadow: 0 0 6px rgb(190, 50, 80);
  }
  100% {
    background-color: rgb(138, 53, 71, 1);
  }
}
.successful {
  font-family: "Oswald";
  padding: 1px 5px 5px;
  background-color: #203a2d;
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px;
}
@keyframes successful {
  0% {
    background-color: rgb(138, 53, 71, 1);
  }
  50% {
    background-color: rgb(161, 53, 76);
    box-shadow: 0 0 6px rgb(190, 50, 80);
  }
  100% {
    background-color: rgb(138, 53, 71, 1);
  }
}

imagebox_container {
  position: relative;
}

/* PAGINATION  */

.page-item,
.page-link {
  background-color: black;
  color: #fff;
}

.page-item.active .page-link {
  background-color: #fff;
  color: black;
  border-color: #a1a1a1;
}

.page-link:hover {
  background-color: #fff;
  color: black;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
}
.page-select-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  margin: 10px;
}

#page-select {
  margin-right: 5px;
  padding: 6px 12px;

  height: 38px;
  border: none;

  color: #fff;
  background-color: black;
  font-size: 16px;
}
