@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: #eeeeee;
  padding: 20px 100px;
}

.menu-bar {
  display: flex;
}

div [class^="menu-dot"] {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  color: #ffffff;
  position: relative;
}

div [class^="menu-dot"] p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Noto Sans", sans-serif;
}

.menu-dot-1 {
  background: #424058;
}
.menu-dot-2 {
  background: #a7cfe6;
}
.menu-dot-3 {
  background: #abdd98;
}
div [class^="menu-dot-4"] {
  margin-left: calc(95% - 280px);
  background: #92264d;
}

.nav-border {
  width: 100%;
  height: 2px;
  background: #92264d;
  margin-bottom: 50px;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-bar {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  position: relative;
}

.search-bar:before {
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
  position: absolute;
  opacity: 0.2;
  background: #92264d;
  content: " ";
}

.color-test {
  width: 250px;
  height: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15px;
}

.color-test:before {
  width: 250px;
  height: 250px;
  position: absolute;
  opacity: 0.2;
  background: #92264d;
  content: " ";
  transform: translateY(-10px);
}

.color-test img {
  max-width: 200px;
  max-height: 200px;
}

.login-dot {
  margin-left: 400px;
  width: 500px;
  height: 500px;
  position: relative;
  border-radius: 50%;
  background: #5a83db;
}

.login-dot p:nth-child(1) {
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  font-size: 100px;
  font-weight: bolder;
  position: absolute;
  top: 12%;
  left: 10%;
}
.login-dot p:nth-child(2) {
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 47%;
  left: 22%;
}
